@{
    ViewBag.Title = "ListLocation";
}

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MVC_2b.Models.Location>

    <h2>List Locations</h2>

    <p>
        @Html.ActionLink("Create New", "EditLocation", new { id = 0 })
    </p>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.ActionLink("Name", "ListLocations", new
       {
           sortOn =
"Name",
           orderBy = ViewBag.OrderBy,
           pSortOn = ViewBag.SortOn
       })
            </th>
            <th>
                @Html.ActionLink("Adress", "ListLocations", new
   {
       sortOn =
"Adress",
       orderBy = ViewBag.OrderBy,
       pSortOn = ViewBag.SortOn
   })
            </th>
            <th>
                @Html.ActionLink("Floor", "ListLocations", new
{
    sortOn = "Floor",
    orderBy = ViewBag.OrderBy,
    pSortOn = ViewBag.SortOn
})
            </th>
            <th>
                @Html.ActionLink("RoomNumber", "ListLocations", new
{
    sortOn = "RoomNumber",
    orderBy = ViewBag.OrderBy,
    pSortOn = ViewBag.SortOn
})
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditLocation", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteLocation", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("ListLocations", new
{
    page,
    sortOn = ViewBag.SortOn,
    orderBy = ViewBag.OrderBy,
    pSortOn = ViewBag.SortOn
}), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>

